<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>MUFFIN HOUSE</title>


    <link href="../static/css/bootstrap.min.css" rel="stylesheet">


    <link href="../static/css/animate.min.css" rel="stylesheet">

    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">


    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body id="page-top">
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">MUFFIN HOUSE</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Главная</a></li>
                        <li><a class="page-scroll" href="#features">Ассортимент</a></li>
                        <li><a class="page-scroll" href="#news">Новости</a></li>
                        <li><a class="page-scroll" href="#pricing">Акции</a></li>
                        <li><a class="page-scroll" href="#contact">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">

    <div class="video_block">
        <video autoplay loop muted class="bgvideo">
        <source src="../static/video.mp4" type="video/mp4" style="margin-top:-420px; height:997px; width: 1600px;"></video>

    </div>

</div>


<section id="features" class="container services">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><br>Ассортимент товаров<br/> <span class="navy"> на любой вкус</span> </h1>
            <p>- 70 видов тортов</p>
            <p>- около 40 видов кексов</p>
            <p>- примерно 80 видов шоколадных конфет</p>
            <p>- 30 видов карамелек</p>
            <p>- 20 видов различных пончиков</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <img src="../static/img/кекс.png">
                <h2>Кексы</h2>
                <p>Кексы - это излюбленное лакомство всех сладкоежек. Готовятся эти мучные кондитерские изделия обычно из бисквитного или дрожжевого теста с добавками и начинками в виде изюма, ягод, кокосовой стружки, орехов и джема.</p>
            </div>
            <div class="m-t-lg">
               <img src="../static/img/пончик.png">
                <h2>Пончики</h2>
                <p>Пончики — это изделия из теста, обжаренные в масле. Готовят пончики с начинкой или без нее. Начинкой может служить варенье, джем, повидло, сгущенное молоко и др.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">

            <img src="../static/img/первая.png" alt="dashboard" class="img-responsive">

        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <img src="../static/img/торт.png">
                <h2>Торты</h2>
                <p>Торт – главное блюдо любого праздника. Это вкусное и оригинальное кремово-глазурное чудо, которое станет не только украшением стола, но и удачным завершением торжества.</p>
            </div>
            <div class="m-t-lg">
                <img src="../static/img/конфеты2.png">
                <h2>Конфеты</h2>
                <p>Для большинства жителей земного шара конфеты - это не просто кондитерское изделие, которое может быть изготовлено из шоколада, карамели или сахарного сиропа. Даже наука подтверждает, что в конфетах содержится, так называемый, "гормон счастья" эндорфин, который моментально дарит человеку позитивные и радостные ощущения, достаточно съесть всего лишь одну конфетку и жизнь начнет налаживаться.</p>
            </div>
        </div>
    </div>

</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Популярное</h1>
                <p>Самые популярные торты по выгодным ценам!</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text wow fadeInLeft">

                <h2>"Айскрим"</h2>
                <p>Необычный и очень нежный бисквит с ананасовым соком , грецким орехом и манной крупой. Сливочный крем со сгущенным молоком, с прослойкой  консервированного ананаса. Оформлен рожками для мороженого.</p>
                <img src="../static/img/22.jpg" width="200" height="200"></br></br>
                <a href="" class="btn btn-primary">Заказать</a>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                <img src="../static/img/44.png" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right wow fadeInRight">

                <h2>"Двойной"</h2>
                <p>Прекрасное сочетание  сметанного и шоколадного бисквита с  творожным и шоколадным кремом.
Две противоположности,  белое- черное, день-ночь.
Все как всегда , но  доставляет удовольствие  и очень вкусно.</p>
                <img src="../static/img/33.jpg" width="200" height="200"></br></br>
                <a href="" class="btn btn-primary">Заказать</a>
            </div>
        </div>
    </div>

</section>

<section id="news" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
            <h1>Новости</h1>
                 <p>Самые свежие новости в Muffin House.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>12.11.16</small>
                <h2>Фотопечать </h2>
                <img src="../static/img/2.png" width="80" height="80"align="right">
                <p>Спешим сообщить,что у нас появилась уникальная возможность, использование фотопечати. Вы можете заказать печать как своей фотографии, так и с нашей помощью подобрать желаемое изображение. Теперь любой праздник для ваших родных и близких станет еще интереснее и красочнее.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>20.11.16</small>
                <h2>Свадебные торты</h2>
                <img src="../static/img/333.png" width="80" height="80"align="right">
                <p>В меню появились свадебные торты. По выгодным ценам, на любой вкус, со множеством ярусов. Спешите попробовать!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>01.12.16</small>
                <h2>Часы работы </h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>Изменились часы работы. Теперь мы открыты круглосуточно!</p>
                <p> 00-24</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>12.12.16</small>
                <h2>Курсы кондитерского мастерства </h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>Внимание! Начинается набор желающих на курсы кондитерского мастерсва. Опытные повара-кондитеры будут рассказывать свои секреты в приготовлении сладостей и удивлять готовыми изделиями. Не пропустите!</p>
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Акции</h1>
                <p>Выгодные предложения этого месяца.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        1+1=3
                    </li>
                    <li class="pricing-desc">
                        При покупке двух празднечных тортов третий в подарок!
                        Акция действует в будние дни.
                            <p><img src="../static/img/images.png"></p>

                    </li>
                    <li class="pricing-price">
                        <span>500</span> грн
                    </li>

                    <li>
                        <a class="btn btn-primary btn-xs" href="#">Купить</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Торт месяца!
                    </li>
                    <li class="pricing-desc">
                        В этом месяце вы можете купить торт «Тирамису» весом 870 г. за 150 гривен. Торт «Тирамису» — крем из взбитых сливок на основе сливочного сыра, кофейно-коньячная пропитка ванильный бисквит, какао.

                        <p><img src="../static/img/111.jpg"width="266" height="185"></p>

                    </li>
                    <li class="pricing-price">
                        <span>150</span> грн
                    </li>

                    <li class="plan-action">
                        <a class="btn btn-primary btn-xs" href="#">Купить</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Скидка для студентов 15%
                    </li>
                    <li class="pricing-desc">
                       Скидка для студентов 15%. Действует на все товары. Обязательное условие для получении скидки - предъявление студенческого билета или зачетной книжки.
                    </li>
                    <li class="pricing-price">
                       Экономьте <span>15%</span>
                       </p><img src="../static/img/skidka-anons.jpg" width="290" height="191"></p>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">

            </div>
        </div>
    </div>

</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Контакты</h1><br/><br/>
                    <strong><span class="navy">Muffin House</span></strong><br/>
                     ул.Суворова 15<br/>
                    г.Херсон, Украина 73000<br/>
                    <abbr title="Phone">Тел:</abbr> (099) 3323899
            </div>
        </div>
        <div class="row m-b-lg text-center">
            <div class="col-lg-3 col-lg-offset-3">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">Отправить письмо</a>
                <p class="m-t-sm">
                    Подписывайтесь на нас в соц.сетях
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2016 </strong><br/> </p>
            </div>
        </div>
    </div>
</section>

<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/js/pace.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/classie.js"></script>
<script src="../static/js/cbpAnimatedHeader.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/inspinia.js"></script>
</body>
</html>
